[Unit]
Description=Proton Mail Bridge (headless)
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/protonmail-bridge --noninteractive
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target